
         .title{
         margin-bottom: 10px;
         text-align:center;
         width: 210px;
         color:rgb(89, 200, 89);
         border: solid black 2px;
         }
         input[type="button"]
         {
         background-color:rgb(19, 0, 128);
         color: rgb(233, 37, 37);
         border: solid rgb(4, 142, 167) 2px;
         width:100%
         }
         input[type="text"]
         {
         background-color:rgb(218, 236, 114);
         border: solid rgb(224, 26, 214) 2px;
         width:100%
         }
     